{
  "root": true,
  "extends": [
    "@react-native-community",
    "airbnb-typescript",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "quotes": [
      "warn",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "react/prefer-stateless-function": [
      "off"
    ]
  }
}